body {
    font-family: 'Poppins',sans-serif;
}

.container {
    margin-bottom: 80px;
}

.bg-orange{
    background-color: #feeae9;
    border-radius: 15px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #FF136F;
}

.buy-now-btn {
    border: none;
    color: white;
    margin-top: 20px;
    padding: 9px 25px;
    border-radius: 8px;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #FF58B9,#FF136F 100%);
}

.category h1{
    color: white;
    font-weight: 500;
}

.category-bg {
    background-color: #F8F8F8;
    padding: 50px 0;
}

.cat-1, .cat-2, .cat-3 {
    padding: 10px 30px;
    border-radius: 15px;
}

.cat-1 {
    background-color: orange;
}

.cat-2 {
    background-color: #FF136F;
}

.cat-3 {
    background-color: blue;
}

.card-deck {
    text-align: center;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}

#subscription {
    margin-top: 80px;
}

.subscription {
    padding: 50px 0;
}

small {
    text-align: center;
}
